<!-- <div class="feedback-container">
    <div class="feedback-container-wrapper">
      <div class="feedback-container-head">
        How satisfied are you with Globe Online?
      </div> -->
<div class="feedback-container-star-rating">
  <div class="star-rating">
    <div class="star-rating-stars">
      <button
        (click)="onStar(rate, i)"
        *ngFor="let rate of rating; index as i"
        class="star-rating-star icon-button">
        <img
          *ngIf="rate; else notFilled"
          src="assets/images/svg/star.svg"
          alt="filled star icon" />
        <ng-template #notFilled>
          <img
            src="assets/images/svg/star-not-filled.svg"
            alt="not filled star icon" />
        </ng-template>
      </button>
    </div>
    <div class="star-rating-value">
      <div class="lower-rating-value">Very dissatisfied</div>
      <div class="higher-rating-value">Very satisfied</div>
    </div>
  </div>
  <button
    class="custom-fill-button"
    [style.height.px]="60"
    [style.width.px]="343"
    (click)="onProceed()">
    {{ buttonText }}
  </button>
</div>
<!-- </div>
  </div>
   -->
