@import '../../../../../styles.scss';

.primary-text-color {
  color: #1a458b;
}

.menu-arrow-down {
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}

.menu-arrow-down.open {
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
}

.ml-15 {
  margin-left: 15px;
}

.w-40 {
  width: 40px;
}
.regal-blue{
  color:$regalBlue;
}

.h-5 {
  height: 5px;
}

.overdue-balance-color {
  color: #62768B;
}

.chevron {
  margin-top: -15px;
}