<div
  class="daf-dropdown dropdown"
  [style.height.px]="dropDownHeight"
  [style.width.px]="dropDownWidth">
  <button
    class="daf-dropdown-btn btn btn-secondary dropdown-toggle"
    type="button"
    id="dropdownMenuButton"
    data-bs-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    [style.background]="'transparent'"
    [style.height.px]="'40'"
    [style.width.px]="dropDownWidth">
    <div>
      <div
        class="font-semibold"
        *ngIf="selectedString === dropdownTitle && required; else elseBlock">
        {{ selectedString }}
        <span class="required-input">*</span>
      </div>
      <ng-template #elseBlock>
        <div class="selected-option-view">
          <span>{{ dropdownTitle }}</span>
          <span>{{ selectedString }}</span>
        </div>
      </ng-template>
    </div>
    <img
      src="../../../../../assets/images/svg/down-arrow-2.svg"
      alt="down-arrow icon" />
  </button>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <input
      (input)="onChange($event.target)"
      class="search"
      type="text"
      name="search"
      placeholder="Search here" />
    <button
      (click)="selectValue(option)"
      *ngFor="let option of displayedOptions; index as i"
      class="dropdown-item">
      {{ option }}
    </button>
  </div>
</div>
