<div *ngIf="deviceType === 'Desktop'" class="d-flex starter-banner6-wrapper">
  <div class="starter-banner6-container">
    <div class="banner-text">
      <div class="image">
        <img
          alt="GFiber Prepaid"
          src="../../../../../assets/stories-icon-footer1.svg" />
      </div>
      <div class="text">
        <h1 class="text-desktop">
          All your telco needs <br />
          All in one app
        </h1>
      </div>
    </div>
    <div class="top-body-banner-6">
      <span class="body-text"
        >GlobeOne app is the ultimate digital companion for your life on-the-go.
        Manage your Globe and TM accounts, track your data usage, earn rewards,
        enjoy exclusive perks, and many more in just a few taps.</span
      >
    </div>
    <div class="top-body-banner-6">
      <a href="https://appgallery.huawei.com/"
        ><img
          alt="huawei app gallery"
          data-entity-type=""
          data-entity-uuid=""
          src="../../../../../assets/app_gallery_image.png"
      /></a>
      <a
        href="https://play.google.com/store/apps/details?id=ph.com.globe.globeonesuperapp"
        ><img
          alt="google play store"
          data-entity-type=""
          data-entity-uuid=""
          src="../../../../../assets/playstore_image.png"
      /></a>
      <a href="https://apps.apple.com/us/app/globeone-superapp/id1555659963"
        ><img
          alt="google play store"
          data-entity-type=""
          data-entity-uuid=""
          src="../../../../../assets/appstore_image.png"
      /></a>
    </div>
  </div>
  <div class="imageclass">
    <img
      alt="desktop footer phone image"
      class="desktopmobileimage"
      src="../../../../../assets/desktop_footer_phone.png" />
  </div>
</div>

<div
  *ngIf="deviceType === 'Tablet'"
  class="d-flex flex-column starter-banner6-wrapper-tablet"
  [style.background-image]="
    'url(../../../../../assets/GlobeOne-Tablet-footer.png)'
  ">
  <div class="d-flex flex-column starter-banner6-container-mobile">
    <div class="banner-text-tab">
      <div class="image">
        <img
          alt="GFiber Prepaid"
          src="../../../../../assets/stories-icon-footer1.svg" />
      </div>
      <div class="text-title-tab">
        <h1 class="text-tab">
          All your telco needs <br />
          All in one app
        </h1>
      </div>
    </div>
    <div class="top-body-banner-6-tablet">
      <span class="body-text"
        >GlobeOne app is the ultimate digital companion for your life on-the-go.
        Manage your Globe and TM accounts, track your data usage, earn rewards,
        enjoy exclusive perks, and many more in just a few taps.</span
      >

      <div class="imgcontainer-tablet">
        <a
          href="https://play.google.com/store/apps/details?id=ph.com.globe.globeonesuperapp"
          ><img
            alt="google play store"
            data-entity-type=""
            data-entity-uuid=""
            src="../../../../../assets/playstore_image.png"
        /></a>
        <a href="https://apps.apple.com/us/app/globeone-superapp/id1555659963"
          ><img
            alt="google play store"
            data-entity-type=""
            data-entity-uuid=""
            src="../../../../../assets/appstore_image.png"
        /></a>
        <a href="https://appgallery.huawei.com/"
          ><img
            alt="huawei app gallery"
            data-entity-type=""
            data-entity-uuid=""
            src="../../../../../assets/app_gallery_image.png"
        /></a>
      </div>
    </div>
  </div>
</div>
