.font-16 {
  font-size: 16px;
}

.font-12 {
  font-size: 12px;
}

.font-18 {
  font-size: 18px;
}

.primary-text-color {
  color: #1a458b;
}

.card-class {
  height: 4rem;
  width: 100%;
}

.btn-change {
  border: 1px solid #2274e5;
  background-color: #f5f9fc;
  p {
    color: #2274e5;
  }
}
