<div class="order-tracker-error-container">
    <div class="order-tracker-error-content">
        <img alt="not-found" class="icon" src="../../../../../assets/order-tracker/not-found.svg"/>
        <p class="font-20 font-w-400 font-bold primary-text-color text-center">Order not found.</p>
        <p class="font-14 font-w-400 font-semibold body">You may have entered an incorrect reference number. Please check your email for the Order Tracker link 
            or re-enter the reference number.</p>
        <p (click)=redirectToTrackOrder() (keypress)=redirectToTrackOrder() class="button font-14 font-w-400">Click here to return</p>
    </div>
</div>