<div class="list-group list-group-flush">
  <div class="list-group-item flex-column align-items-start">
    <div class="row">
      <div class="col">
        <div class="d-flex w-100">
          <h4 class="primary-text-color font-bold font-14">
            {{ promoCode.promoCodeTitle }}
          </h4>
        </div>
        <div class="d-flex w-100 align-items-center">
          <div style="width: 10vw">
            <img
              src="../../../../../assets/images/promo-code-icon.svg"
              alt="promo code icon" />
          </div>
          <div class="form-floating mb-3" style="height: 44px; width: 75vw">
            <input type="text" class="form-control" id="floatingInput" />
            <label for="floatingInput">Enter Promo Code</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
